body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #fffaf7;
    color: #333;
}


header {
    background-color: #fff;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
 h1 {
    font-family: 'Georgia', serif;
    font-size: 28px;
    color: #a66b5e;
    margin: 0;
}
 a {
    margin: 0 15px;
    text-decoration: none;
    color: #555;
    font-weight: 500;
}


.products {
    display: flex;
    gap: 10px;
    padding: 0
}



footer {
    background-color: #f8e8e2;
    padding: 10px;
    text-align: center;
    color: #555;
    font-size: 14px;
}
